@define-color base         #250033;
@define-color main         #00FFF0;
@define-color secondary    #2d1537;
@define-color hover        #4B1E52;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: @main;
  border: none;
  box-shadow: none;
}

window#waybar {
  border-radius: 20px;
  background-color: @base;
  border: 0.8px solid @main;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
}
*/

#workspaces {
  padding: 0 10px;
}
#workspaces button {
  background: @secondary;
  margin: 4px;
}
#workspaces button:hover {
  background: @hover;
  box-shadow: 0px 0px 8px 0px @main;
}

#clock,
#cpu,
#temperature,
#memory,
#custom-power {
  padding: 0 15px;
  background: @secondary;
  margin: 4px;
}
#clock {
  border-radius: 22px 10px 10px 20px;
}
#custom-power {
  border-radius: 10px 22px 22px 10px;
}
#cpu,
#temperature,
#memory {
  border-radius: 8px;
}
