@define-color base         #250033;
@define-color main         #00FFF0;
@define-color secondary    #3e0854;
@define-color hover        #5f0f6b;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  box-shadow: none;
}

window#waybar {
  border-radius: 20px;
  background: @base;
  color: @main;
  border: 0.8px solid @main;
  transition: all .5s ease;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
background: transparent;
}
window#waybar.solo {
background: #FFFFFF;
}
*/

tooltip {
  background: @secondary;
  color: @main;
  border-radius: 10px;
}

/* WORKSPACES */
#workspaces {
  padding: 2px;
  margin: 0 4px;
}
#workspaces button {
  background: @secondary;
  color: @main;
  margin: 2px 5px;
}
#workspaces button:hover {
  background: @hover;
  box-shadow: 0 0 8px 0 @main; 
}
#workspaces button.active {
  background: @main;
  color: @base;
  transition: all .6s ease-out;
}

/* MODULES */
#clock,
#cpu,
#temperature,
#memory,
#pulseaudio,
#custom-power {
  background: @secondary;
  padding: 0 15px;
  margin: 4px;
  transition: all .5s ease-in-out;
  border-radius: 8px;
}

#clock {
  border-radius: 22px 10px 10px 22px;
}
#custom-power {
  border-radius: 10px 22px 22px 10px;
}

#clock:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#memory:hover,
#pulseaudio:hover,
#custom-power:hover {
  background: @hover;
  box-shadow: 0px 0px 8px 0px @main;
}
